*{
  margin: 0px;
  padding: 0px;
}
body{
  width: 100wh;
  height: 100vh;
  background-image: linear-gradient(55deg, #d874f1, #f1be5f);
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card{
    width: 55%; 
    background: linear-gradient(95deg, #f5f3f3, #5edfbe);
}
.card-body{
  height: 100%;
  width: 100%;
}

.btn{
  margin-right: 15px;
  margin-bottom: 10px;
}

span.right{
  float: right;
  margin-right: 15px;
  margin-top: -3px;
}
